<?xml version="1.0" encoding="UTF-8" ?>      
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyw.csp.mapper.CspAppInfoMapper">

	<resultMap type="com.jyw.csp.entity.CspAppInfoEntity" id="CspAppInfoResultMap">
   </resultMap>
    <select id="count" databaseId="mysql">
		SELECT count(*) FROM csp_appinfo
    </select>
    <select id="count" databaseId="oracle">
		SELECT count(*) FROM csp_appinfo
    </select>
    
    <select id="select" resultMap="CspAppInfoResultMap" databaseId="mysql">
		SELECT * FROM csp_appinfo WHERE appid=#{appid}
    </select>
    <select id="select" resultMap="CspAppInfoResultMap" databaseId="oracle">
		SELECT * FROM csp_appinfo WHERE appid=#{appid,jdbcType=VARCHAR}
    </select>
    
    <select id="selectAll" resultMap="CspAppInfoResultMap" databaseId="mysql">
		SELECT * FROM csp_appinfo
    </select>   
    <select id="selectAll" resultMap="CspAppInfoResultMap" databaseId="oracle">
		SELECT * FROM csp_appinfo
    </select>
    
</mapper>