<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Add Smart Water Device')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-device-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Device SN：</label>
                <div class="col-sm-8">
                    <input name="deviceSn" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Water Meter Model：</label>
                <div class="col-sm-8">
                    <input name="deviceModel" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Meter Type：</label>
                <div class="col-sm-8">
                    <select name="deviceType" class="form-control m-b" required>
                        <option value="">All</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Please select dictionary property for code generation</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Manufacturer：</label>
                <div class="col-sm-8">
                    <input name="manufacturer" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Production Date：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="productionDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Installation Address：</label>
                <div class="col-sm-8">
                    <input name="installAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">User Name：</label>
                <div class="col-sm-8">
                    <input name="userName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">User Phone：</label>
                <div class="col-sm-8">
                    <input name="userPhone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">User ID Card：</label>
                <div class="col-sm-8">
                    <input name="userIdCard" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Installation Date：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="installDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Activation Date：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="activationDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Device Status：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="" required>
                        <label th:for="status" th:text="Unknown"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Please select dictionary property for code generation</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Last Online Time：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="lastOnlineTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Total Water Usage：</label>
                <div class="col-sm-8">
                    <input name="totalWaterUsage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Remaining Balance：</label>
                <div class="col-sm-8">
                    <input name="remainingAmount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Low Balance Threshold：</label>
                <div class="col-sm-8">
                    <input name="warningThreshold" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Firmware Version：</label>
                <div class="col-sm-8">
                    <input name="firmwareVersion" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Remarks：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/device"
        $("#form-device-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-device-add').serialize());
            }
        }

        $("input[name='productionDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='installDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='activationDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='lastOnlineTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>